text{
  fill: #FFF;
  stroke:none;
}

.node {
  fill: #000; 
  cursor: crosshair;
  -webkit-transition: fill 750ms linear;
  -moz-transition: fill 750ms linear;
  -o-transition: fill 750ms linear;
  transition: fill 750ms linear;
}

.nodeSelected {
  fill: #ff7f0e;
  opacity: 1;
  -webkit-transition: fill 750ms linear;
  -moz-transition: fill 750ms linear;
  -o-transition: fill 750ms linear;
  transition: fill 750ms linear;
}

.nodeTaken {
  stroke: #0F0 !important;
  stroke-width:3;
  -webkit-transition: fill 750ms linear;
  -moz-transition: fill 750ms linear;
  -o-transition: fill 750ms linear;
  transition: fill 750ms linear;
}

.prereqNode {
/*  fill: #19D45B;*/
  fill: #c0392b;
  opacity: 1;
  -webkit-transition: fill 750ms linear;
  -moz-transition: fill 750ms linear;
  -o-transition: fill 750ms linear;
  transition: fill 750ms linear;
}

.postreqNode {
/*  fill: #0992ED;*/
  fill: #2980b9;
  opacity: 1;
  -webkit-transition: fill 750ms linear;
  -moz-transition: fill 750ms linear;
  -o-transition: fill 750ms linear;
  transition: fill 750ms linear;
}

path.link {
  fill: none;
  stroke: #999;
  stroke-width: 4;
  cursor: default;
  -webkit-transition: stroke 750ms linear;
  -moz-transition: stroke 750ms linear;
  -o-transition: stroke 750ms linear;
  transition: stroke 750ms linear;
}

path.lowOpacity {
  opacity: .2;
}

path.prereqColorLink {
/*  stroke: #19D45B; */
  stroke: #e74c3c;
  opacity: 1;
}

path.prereqLink {
  -webkit-transition: stroke 750ms linear;
  -moz-transition: stroke 750ms linear;
  -o-transition: stroke 750ms linear;
  transition: stroke 750ms linear;
}

path.postreqColorLink {
  stroke: #0992ED;
  opacity: 1;
}
path.postreqLink {
  -webkit-transition: stroke 750ms linear;
  -moz-transition: stroke 750ms linear;
  -o-transition: stroke 750ms linear;
  transition: stroke 750ms linear;
}